@{
    ViewBag.Title = "Menu";
}
<h2>@ViewBag.Title:</h2>

<ul>
    <li> "@Html.ActionLink("Búsqueda de Información", "Buscar", "Home")"</li>
    <li> "@Html.ActionLink("Ingreso de información", "Ingresar", "Home")"</li>
</ul>
